{% extends 'base.html' %}

{% block content %}



<h1>Public POSTS</h1>

{% for post in object_list %}
<div class="card text-white bg-secondary mb-3">
    {% if post.header_image %}
		<img src="{{ post.header_image.url }}" class="card-img-top" alt="...">
	{% endif %}

  <div class="card-body">
      <h5 class="card-title">{{ post.category}} || {{ post.title }} 		<b>- {{ post.author.first_name }} {{ post.author.last_name }} -</b>
</h5>
    <p class="card-text">{{ post.body}}</p>
    <p class="card-text"><small class="text-muted">Last updated {{ post.post_date }}</small></p>
  </div>
</div>
{% endfor %}




{% endblock %}






